### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
# import dependencies
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "C:/Users/melis/Desktop/Panda-Challenge/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df=pd.read_csv(purchase_data)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
df.drop_duplicates('SN')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
731,731,Eudanu84,22,Female,12,Dawne,1.02
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
738,738,Eusur90,36,Male,121,Massacre,1.60
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58
742,742,Isty55,20,Male,5,Putrid Fan,4.08
743,743,Frichilsa31,15,Male,110,Suspension,1.44
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
765,765,Irith83,18,Male,130,Alpha,2.07
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19

## Player Count

In [43]:
#Display the total number of players
Total_Players=len(df.drop_duplicates('SN'))
totalplayers = pd.DataFrame({'Total_Players':[Total_Players]})
totalplayers

   Total_Players
0            576

In [46]:
Total_Items=len(df.drop_duplicates('Item Name'))
print("Total_Unique_Items:", Total_Items)
Average_price=df.loc[:, "Price"].mean()
print("Average_price:", Average_price)
Total_Number_of_Purchases =len(df ['Item Name'])
print("Number_of_Purchases:", Total_Number_of_Purchases)

Total_Unique_Items: 179
Average_price: 3.050987179487176
Number_of_Purchases: 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Average purchase total by gender 
avg_purchase_total = gender_stats["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase_per_person = avg_purchase_total/total_count_gender

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# Provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

# Format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})
Out[5]:
Purchase Count	Average Purchase Price	Average Purchase Va

In [142]:
#Display the total number of players
purchasing_analysis = pd.DataFrame({'Total Unique Items':[Total_Items], "Average_Price": [Average_price], "Number_of_Purchases": [Total_Number_of_Purchases]})
purchasing_analysis

   Total Unique Items  Average_Price  Number_of_Purchases
0                 179       3.050987                  780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [49]:
#Gender demographics
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [94]:
#Group by gender and count
Male_count = (df['Gender'].value_counts()['Male'])
Female_count = (df['Gender'].value_counts()['Female'])
Non_Disclosed_count = (df['Gender'].value_counts()['Other / Non-Disclosed'])
Gender_count=duplicate["Gender"].count()

#percentages
Male_Percentage=(Male_count/Gender_count)*100
Female_Percentage=(Female_count/Gender_count)*100
Non_Disclosed_Percentage = (Non_Disclosed_count/Gender_count)*100

#New Df with gender info
Gender_DF=pd.DataFrame({" ":["Male", "Female", "Non_Disclosed_count"], "Percentage of Players": [Male_Percentage, Female_Percentage, Non_Disclosed_Percentage], "Total Count": [Male_count, Female_count, Non_Disclosed_count]})
Gender_DF

                        Percentage of Players  Total Count
0                 Male             113.194444          652
1               Female              19.618056          113
2  Non_Disclosed_count               2.604167           15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [112]:
#Establish bins for ages
bins=[0, 10, 15, 20, 25, 30, 35, 40, 200]
binLab=['Under 10', '10-14', '15-19', '20-24', '25-29', '30-35', '35-49', 'Over 40']

#Create new Df
bins_df=df.copy()

#Categorize existing players using age bins (use pd.cut())
bins_df['Age Group'] = pd.cut(bins_df['Age'], bins, labels=binLab)
group_bin = bins_df.groupby(["Age Group"])

#Numbers and percentage by age group
binnerCount = group_bin['SN'].count()
countTotal = df['SN'].count()
percentage = (binnerCount/countTotal)*100
percentage

#Create summary table
Age_Percentage = pd.DataFrame({"Total Count": binnerCount, "Percentage of Players": percentage})
Age_Percentage["Percentage of Players"] = Age_Percentage["Percentage of Players"].map("{:.2f}%".format)

#Display table
Age_Percentage

           Total Count Percentage of Players
Age Group
Under 10            32                 4.10%
10-14               54                 6.92%
15-19              200                25.64%
20-24              325                41.67%
25-29               77                 9.87%
30-35               52                 6.67%
35-49               33                 4.23%
Over 40              7                 0.90%

In [136]:
# Counting by age group
age_grouped=bins_df.groupby("Age Group")
purchase_count_age = age_grouped["Purchase ID"].count()
average_purchase_price_age = age_grouped["Price"].mean() 
total_purchase_value = age_grouped["Price"].sum()
total_count_age = bins_df["SN"].count()
average_purchase_pp_age = total_purchase_value/total_count_age

# Dataframe
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": average_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": average_purchase_pp_age})

#Formatting
age_demographics.index.name = None

# Currency
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Purchasing Analysis (Age)

In [149]:
# Bin the purchase_data data frame by age
bins=[0, 10, 15, 20, 25, 30, 35, 40, 200]
binLab=['Under 10', '10-14', '15-19', '20-24', '25-29', '30-35', '35-49', 'Over 40']
binColumn=pd.cut(bins_df["Age"], bins, labels=binLab)

# Basic Calculations
bins_df=df.copy()
bins_df['Age Group'] = pd.cut(bins_df['Age'], bins, labels=binLab)
binColumn = pd.cut(bins_df['Age'], bins, labels=binLab)
grouped_bin = bins_df.groupby(["Age Group"])

#grouped_df=df.groupby(["Age"]).count()
purchase_count_pp=grouped_bin["Age"].count()
purchase_mean_price_pp=grouped_bin["Price"].mean()
purchase_total_value_pp=grouped_bin["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
average_purchase_pp = purchase_total_value_pp/purchase_total_value_pp

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count_pp, 
                                    "Average Purchase Price": purchase_mean_price_pp,
                                    "Average Purchase Value":purchase_total_value_pp,
                                    "Average Purchase Total per Person": average_purchase_pp})

# Index as "Gender"
gender_demographics.index.name = "Gender"

# Currency $
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [131]:
# Group purchase data by screen names
spender_stats = df.groupby("SN")

# Basic Calculations
purchase_count_spender = spender_stats["Purchase ID"].count()
average_purchase_price_spender = spender_stats["Price"].mean() 
purchase_total_spender = spender_stats["Price"].sum()

# Create df
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": average_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Descending order w top 5 spender 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Formatting $
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [141]:
# Dataframe
items = df[["Item ID", "Item Name", "Price"]]

# Group by item id and item name 
item_df = items.groupby(["Item ID","Item Name"])

# Counting times is purchased
purchase_count_item = item_df["Price"].count()

# Purchase value per item 
purchase_value = (item_df["Price"].sum()) 

# Item price
item_price = purchase_value/purchase_count_item 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, "Item Price": item_price, "Total Purchase Value":purchase_value})

#Descending order/top 5 spenders
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Currency $
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [140]:
#Most popular items by purchase descending order 
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                  "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
popular_descending = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Currency $
popular_descending.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})